.home-page {
max-width: 1440px;
background-color:   hsl(180, 52%, 96%);
height: auto;
margin: 0 auto;
    .header {
        background-image: url(../../assets/images/bg-header-desktop.svg);
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        background-color: hsl(180, 29%, 50%);
        z-index: 1;
        height:180px;
    }


    .body{
        padding: 3% 7%;


    }

}

